<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flamenco Dance Academy</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" href="../static/css/contact.css">
  <link rel="stylesheet" media="screen and (max-width:1336px)" href="../static/css/responsive.css">
  <script src="../static/js/script.js"></script>

</head>

</html>

<body>
  <nav id="navbar">
    <div id="logo"><a href="/"><img src="/static/images/logo.png"></a>FDA</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="..#aboutSection">About</a></li>
      <li><a href="..#servicesSection">Services</a></li>
      <li><a href="..#class-info">Class Info</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </nav>
  <div id="contact">
    <h1 class="h-primary">Contact Us</h1>
    <form class="myForm" action="/contact" method="post">
      <input class="myInput" type="text" name="name" placeholder="Enter your name">
      <input class="myInput" type="phone" name="phone" placeholder="Enter your phone number">
      <input class="myInput" type="email" name="email" placeholder="Enter your email">
      <input class="myInput" type="text" name="address" placeholder="Enter your address">
      <textarea class="myInput" name="message" rows="8" cols="92" placeholder="Enter your message"></textarea>
      <button class="btn">Submit</button>
    </form>
  </div>
  <footer id="footer">
    Copywright © 2021 FlamencoDanceAcademy.com.All rights reserved!</footer>
</body>

</html>