<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Flamenco Dance Academy</title>
  <link rel="stylesheet" href="../static/css/style.css">
  <link rel="stylesheet" media="screen and (max-width:1336px)" href="../static/css/responsive.css">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <script src="../static/js/script.js"></script>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@700&family=Bree+Serif&display=swap"
    rel="stylesheet">
</head>

<body>
  <div id="navbar">
    <div id="logo"><a href="/"><img src="/static/images/logo.png" /></a>FDA</div>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="..#aboutSection">About</a></li>
      <li><a href="..#servicesSection">Services</a></li>
      <li><a href="..#class-info">Class Info</a></li>
      <li><a href="/contact">Contact Us</a></li>
    </ul>
  </div>

  <section id="introSection">
    <div class="small" id="txt">Welcome to The Flamenco Dance Academy </div>
    <div class="small">Dance with your heart </div>
  </section>
  <section id="aboutSection">
    <h2 class="h-primary">About Us</h2>
    <div id="about-card">
      <div id="about-card-img"><img src="../static/images/about.jpg" /></div>
      <div id="about-content">
        <p class="p1">Lorem ipsum dolor dolor sit amet consectetur.Letur adipisicing oluptates et corrupti debitis
          perferendis
          magnamum.</p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Similique fugiat id iste sequi, error labore iure
          totam rem neque dolores possimus quam Lorem adipisicing elit. Porro,
          dolores.
          pariatur commodi deleniti molestiae Lorem ipsum dolor sit ameFacilis, incidunt.</p>
      </div>
    </div>
  </section>

  <section id="servicesSection">
    <h2 class="h-primary">Our Services</h2>
    <div id="card">
      <div class="services-card">
        <h2>Professional Techniques </h2>
        <p id="col1">Lorem ipsum dolor sit, amet consectetur adipisicing Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Voluptatum, necessitatibus. elit. Debitis vitae iure voluptatem voluptates beatae
          cupiditate!
        </p>
      </div>
      <div class="services-card">
        <h2>The Best Teachers</h2>
        <p id="col2">Lorem ipsum dolor sit, amet consectetur adipisicing elit Lorem ipsum dolor, sit amet consectetur
          adipisicing elit. Officiis, vitae?. Debitis vitae iure voluptatem voluptates beatae cupiditate!</p>
      </div>
      <div class="services-card">
        <h2>All under one roof </h2>
        <p id="col3">Lorem ipsum dolor sit amet consectetur, adipisicing elit Lorem ipsum dolor sit amet consectetur
          adipisicing elit. Earum, animi? . Fugiat veniam illum tempore est tenetur quo? ducimus consect! </p>
      </div>
    </div>
  </section>

  <section id="class-info">
    <h2 class="h-primary">Class Info</h2>
    <div class="class">
      <div class="class-card"> <img src="/static/images/salsa.jpg" />
        <h2 class="center">Salsa </h2>
        <p class="center">(Monday-Wednesday)</p>
        <p class="center">(2:00 pm-4:30 pm)</p>
      </div>
      <div class="class-card"> <img src="/static/images/hip-hop.jpg" />
        <h2 class="center">Hip-Hop</h2>
        <p class="center">(Wednesday-Friday)</p>
        <p class="center">(2:00 pm-4:30 pm)</p>
      </div>
      <div class="class-card"> <img src="/static/images/ballet.jpg" />
        <h2 class="center">Ballet </h2>
        <p class="center">(Saturday-Sunday)</p>
        <p class="center">(2:00 pm-4:30 pm)</p>
      </div>
      <div class="class-card"> <img src="/static/images/break-dance.jpg" />
        <h2 class="center">Break Dance</h2>
        <p class="center">(Monday-Wednesday)</p>
        <p class="center">(7:00 am-9:30 am)</p>
      </div>
    </div>
    <div class="class">
      <div class="class-card"> <img src="/static/images/contemporary.jpg" />
        <h2 class="center">Contemporary</h2>
        <p class="center">(Wednesdsy-Friday)</p>
        <p class="center">(7:00 am-9:30 am) </p>
      </div>
      <div class="class-card"> <img src="/static/images/popping.jpg" />
        <h2 class="center">Popping </h2>
        <p class="center">(Saturday-Sunday)</p>
        <p class="center">(7:00 am-9:30 am)</p>
      </div>
      <div class="class-card"> <img src="/static/images/jazz.jpg" />
        <h2 class="center">Jazz</h2>
        <p class="center">(Monday-Wednesday)</p>
        <p class="center">(10:00 am-12:30 pm) </p>
      </div>
      <div class="class-card"> <img src="/static/images/locking.jpg" />
        <h2 class="center">Locking </h2>
        <p class="center">(Wednesday-Friday) </p>
        <p class="center">(10:00 am-12:30 pm) </p>
      </div>
    </div>
  </section>

  <footer id="footer">
    Copywright © 2021 FlamencoDanceAcademy.com.All rights reserved!
  </footer>
</body>

</html>